# 2+2

# 11/05/19

In [2]:
print(123)#integer

123

In [3]:
print('hello world')#string

hello world

In [4]:
print(3.142)#float

3.142

In [6]:
print(13,False,"jgdmh")

13 False jgdmh

In [7]:
print(13,False,"jgdmh",sep="")

13Falsejgdmh

In [8]:
print(13,False,"jgdmh",sep="@")

13@False@jgdmh

In [9]:
print('hello world')
print('hi python')

hello world
hi python

In [11]:
print('hello world',end='')
print('hi python',end='')
print('yo bro')

hello worldhi pythonyo bro

In [12]:
name=5

In [14]:
id(name)

140703511998336

concatination

In [15]:
a=2

In [30]:
y='4'

In [19]:
z=a+y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [21]:
z=str(a)+y

In [22]:
print(z)

24

In [31]:
z=a+int(y)

In [32]:
print(z)

6

In [34]:
age=45
name='shamoon'
print('i am '+name+' and '+str(age)+'years old')

i am shamoon and 45years old

In [38]:
age=input('age= ')
name=input('name')
print('i am '+name+' and '+age+'years old')

age= 20
nameumer
i am umer and 20years old

In [33]:
age=input('age= ')
name=input('name')
print('i am {} and' {} 'years old'.format(name,age))

SyntaxError: invalid syntax (<ipython-input-33-325403902b74>, line 3)

In [34]:
print ( "Hello, World!" )

Hello, World!

#  18-05-19


# familiar operation

In [2]:
3+2

5

In [3]:
9*5

45

In [4]:
45//9

5

In [5]:
45/9

5.0

In [6]:
2**4

16

In [7]:
2*(1+5)**3+7

439

In [8]:
2*(1+1)**3+7

23

In [9]:
2+3/2+.5

4.0

# unfamiliar operations

In [10]:
4%3

1

In [11]:
x=1234
x+3

1237

In [12]:
x

1234

In [13]:
x+=3

# if satement

In [29]:
a=2
b=3
a==b

False

In [30]:
a!=b

True

In [31]:
a>b

False

In [32]:
a<b

True

In [19]:
a=2
b=3

In [22]:
if a>b:
    print('a>b')

In [23]:
if a>b:
    print('a>b')
else :
    print('a<b')

a<b

In [28]:
cnic = input('do you have a nic ?')
if cnic == 'yes':
    name=input('is your name is present in the list ?')
    if name== 'yes':
        print('welcome')
    else:
        print('please go to your pooling booth')
else :
    print('you can not vote')

do you have a nic ?no
you can not vote

In [38]:
cnic = input('do you have a nic ?')
name=input('is your name is present in the list ?')
if name=='yes' and cnic=='yes':
    print('welcome')
else:
    print('you are not allowed' )

do you have a nic ?no
is your name is present in the list ?yes
you are not allowed

In [41]:
a = int(input('enter first no. '))
b =int(input('enter second no. '))
if a==b:
    print('a=b')
if a!=b:
    print('a!=b')

enter first no. 2
enter second no. 2
a=b

In [48]:
a = int(input('enter first no. '))
b =int(input('enter second no. '))
if a==b:
    print('a=b')
##elif a!=b:
##    print('a!=b')
elif a<b:
    print('a>b')
elif a<b:    
    print("a<b")
else:
    print('haha')

enter first no. 1
enter second no. 2
a>b

In [49]:
a = int(input('enter first no. '))
b =int(input('enter second no. '))
if a>b or a<b:
    print("a!=b")
else:
    print("a=b")

enter first no. 1
enter second no. 2
a!=b

In [51]:
paper=input('do you have document ?')
money=input('do you have money ?')
if paper=='yes' or document=='yes':
    print('you can go')
else:
    print('you have to pay fine')

do you have document ?yes
do you have money ?no
you can go

In [53]:
paper=input('do you have document ?')
money=input('do you have money ?')
if paper=='yes':
    print('you can go')
elif document=='yes':
    print('you can go')
else:
    print('you have to pay fine')

do you have document ?yes
do you have money ?no
you can go

In [ ]:
'''hi i am dangerous but not for you
hi i am dangerous but not for you
hi i am dangerous but not for you
hi i am dangerous but not for you'''
#select all text and press ' three times

In [ ]:
# hi i am dangerous but not for you
# hi i am dangerous but not for you
# hi i am dangerous but not for you
# hi i am dangerous but not for you
#ctrl+/

# Assignment 2

In [31]:
acc_no=int(input('enter your account number = '))
print('enter positive amount for deposit and negative amount for withdraw')
am=int(input('now enter the amount'))
n_am=0
na1=0
na2=0
na3=0
if acc_no==1:
    na1+=(am)
    print('your net amount is ',na1)
elif acc_no==2:
    na2+=(am)
    print('your net amount is ',na2)
elif acc_no==3:
    na3+=(am)
    print('your net amount is ',na3)
else:
    print(' invalid account number ')

enter your account number = 1
enter positive amount for deposit and negative amount for withdraw
now enter the amount-50
your net amount is  -50

In [17]:
net_amount=0;
print('your net amount is ',net_amount);

your net amount is  0

In [23]:
acc_no=int(input('enter your account number = '))
pirnt('enter positive amount for deposit and negative amount for withdraw')
am=int(input('now enter the amount'))
n_am=0

if acc_no==1:
     acc1(am):
void acc1(am):
    if am>0:
        net_amount+=(am)
        print('your net amount is ',na)

SyntaxError: invalid syntax (<ipython-input-23-97fb9b12f4a8>, line 7)

In [33]:
x=3

In [34]:
y=[1,2,3]

In [36]:
name=['a','b','c']

In [37]:
z=['karachi',157,'a',3.142]

In [41]:
fruits=['banana','mango','apple']
#index=    0        1       2

In [42]:
fruits[1]

'mango'

In [43]:
len(fruits)

3

In [44]:
del fruits[1]

In [45]:
fruits

['banana', 'apple']

In [47]:
fruits.remove('banana')

In [48]:
fruits

['apple']

In [49]:
fruits.append('peach')

In [51]:
fruits.insert(2,'grape')

In [52]:
fruits

['apple', 'peach', 'grape']

In [53]:
#fruits.tab

In [54]:
dir(fruits)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [55]:
y

[1, 2, 3]

In [56]:
g=y

In [57]:
g

[1, 2, 3]

In [58]:
y.append(13)

In [59]:
y

[1, 2, 3, 13]

In [60]:
g

[1, 2, 3, 13]

# slicing

In [61]:
y

[1, 2, 3, 13]

In [62]:
y[1:3]

[2, 3]

# Tuples

In [63]:
a=(1,2,3,4,5,6)
a

(1, 2, 3, 4, 5, 6)

In [64]:
a[2]=157

TypeError: 'tuple' object does not support item assignment

In [65]:
a=2,3,4 #binding or packing

In [66]:
a

(2, 3, 4)

In [67]:
x,y,z=a # unpacking

In [68]:
x

2

In [69]:
y

3

In [70]:
z

4

# List in List Tuple in List etc etc

In [74]:
listInList=[1,2,3,['a','b','c']]

In [75]:
listInList[3]

['a', 'b', 'c']

In [76]:
listInList[3][1]

'b'

In [77]:
listInList[3][1]='apple'

In [78]:
listInList

[1, 2, 3, ['a', 'apple', 'c']]

In [79]:
listInList[3].insert(0,'apple')

In [80]:
listInList

[1, 2, 3, ['apple', 'a', 'apple', 'c']]

# 1-06-19

loop

In [1]:
students=['a','b','c','d']

In [2]:
print(students)

['a', 'b', 'c', 'd']

In [4]:
for i in students:
    print(i)

a
b
c
d

In [6]:
for i in students:
    if i=='b':
        print(f'{i} bahar jao')
    else:
        print(f'{i} andar jao')

a andar jao
b bahar jao
c andar jao
d andar jao

In [7]:
for a in 'pakistan':
    print(a)

p
a
k
i
s
t
a
n

In [10]:
for num in range(10):
    print(num,end=' ')

0 1 2 3 4 5 6 7 8 9

In [11]:
for num in range(1,10):
    print(num,end=' ')

1 2 3 4 5 6 7 8 9

In [20]:
a=input('enter any no.= ')
for num in range(1,11):
    print(f'{a} * {num} = {int(a)*int(num)}' )
    print(a, '*' , num , '=' , a*num ) 
#  or  print(a, '*' , num , '=' , a*num )

enter any no.= 5
5 * 1 = 5
5 * 1 = 5
5 * 2 = 10
5 * 2 = 55
5 * 3 = 15
5 * 3 = 555
5 * 4 = 20
5 * 4 = 5555
5 * 5 = 25
5 * 5 = 55555
5 * 6 = 30
5 * 6 = 555555
5 * 7 = 35
5 * 7 = 5555555
5 * 8 = 40
5 * 8 = 55555555
5 * 9 = 45
5 * 9 = 555555555
5 * 10 = 50
5 * 10 = 5555555555

In [21]:
for num in range(0,10,2):
    print(num,end=' ')

0 2 4 6 8

In [22]:
for num in range(1,10,2):
    print(num,end=' ')

1 3 5 7 9

In [23]:
for num in range(25,0,-1):
    print(num,end=' ')

25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [24]:
a=input('enter any no.= ')
for num in range(1,10):
    if num % 2 == 0:
        continue
    else:
        print(f'{a} * {num} = {int(a)*int(num)}' )

enter any no.= 5
5 * 1 = 5
5 * 3 = 15
5 * 5 = 25
5 * 7 = 35
5 * 9 = 45

In [25]:
a=input('enter any no.= ')
for num in range(1,10):
    if num % 2 == 0:
        break
    else:
        print(f'{a} * {num} = {int(a)*int(num)}' )

enter any no.= 5
5 * 1 = 5

In [31]:
p_dost=[]
for num in range(0,10):
    name=input('enter any no.= ')
    if name.startswith('a'):
        #name[0] == a:
       #or name.startswith('a')
        continue
    else:
        p_dost.append(name) 
print(p_dost)

enter any no.= hcfjhasgchjs
enter any no.= akdnbaedjf
enter any no.= kmmakn
enter any no.= aksnsjc
enter any no.= aknk
enter any no.= sjfj
enter any no.= fksknfsj
enter any no.= akdkwf
enter any no.= sfclm
enter any no.= almmdlfm
['hcfjhasgchjs', 'kmmakn', 'sjfj', 'fksknfsj', 'sfclm']

nested for loop

In [35]:
for a in [1,2,3,4,5]:
    for b in 'nasir':
        print(a,b)

1 n
1 a
1 s
1 i
1 r
2 n
2 a
2 s
2 i
2 r
3 n
3 a
3 s
3 i
3 r
4 n
4 a
4 s
4 i
4 r
5 n
5 a
5 s
5 i
5 r

In [36]:
for i in range(1,11):
    for j in range(1,11):
        print(i,'x',j,'=',i*j)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

list comprehension

# assignment practice

In [37]:
a=[0,1,2,3,4,5,6,7,8,9]
sqr=[]
for num in a:
    sqr.append(num**2)
sqr

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [38]:
[num**2 for num in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [40]:
[num**2 for num in range(1,10) if num > 4]

[25, 36, 49, 64, 81]

In [6]:
r=float(input('enter the radius = '))
A=3.1415926536*(r*r)
print('Area of Circle with radius ',r,' is ',A)

enter the radius = .5
Area of Circle with radius  0.5  is  0.7853981634

In [11]:
x=int(input('enter any number = '))
if x==0:
    print('Zero Entered')
elif x>0: 
    print('Positive Number Entered')
else:
    print('Negative Number Entered')

enter any number = -5
Negative Number Entered

In [14]:
n=int(input('enter the Numerator = '))
d=int(input('enter the Denominator = '))
if n%d == 0 :
    print('Number ',n,' is completely divisible by ',d)
else:
     print('Number ',n,' is not completely divisible by ',d)

enter the Numerator = 7
enter the Denominator = 4
Number  7  is not completely divisible by  4

In [1]:
r=float(input('enter the radius = '))
v=(4*3.142*(r**3))/3
print('Volume of the Sphere with Radius ',r,' is ',v)

enter the radius = 1
Volume of the Sphere with Radius  1.0  is  4.189333333333333

In [31]:
s=input('Enter String: ')
n=int(input('How many copies of String you need: '))
i=0
print(n,' Copies of ',s,' are ',end='')
while i<=n:
    print(s,end='')
    i+=1

Enter String: a
How many copies of String you need: 4
4  Copies of  a  are aaaaa

In [34]:
x=int(input('enter any number = '))
if x%2 == 1:
    print(x,' is Odd')
else:    
    print(x,' is Even')

enter any number = 9
9  is Odd

In [38]:
r=float(input('enter the radius = '))
v1=(4*3.142*(r**3))/3
v2=int(v1*1000)
v=v2/1000
print('Volume of the Sphere with Radius ',r,' is ',v)

enter the radius = 1
Volume of the Sphere with Radius  1.0  is  4.189

In [42]:
l=input('Enter a character: ')
if l=='A' or l=='a' or l=='E' or l=='e' or l=='I' or l=='i' or l=='O' or l=='o' or l=='U' or l=='u' :
    print('Letter ',l,' is Vowel')
else:
    print('Letter ',l,' is not Vowel')

Enter a character: A
Letter  A  is Vowel

In [2]:
b=float(input('Enter the base: '))
h=float(input('Enter the height: '))
a=(b*h)/2
print('Area of the triangle is',a)

Enter the base: 1
Enter the height: 1
Area of the triangle is 0.5

In [ ]:
p_a=int(input('Please enter principal amount: '))
r_i=float(input('Please Enter Rate of interest in %: '))
t=int(input('Enter number of years for investment: '))
i=(r_i/100)*p_a
j=0
while j<t:
    p_a+=i
print('After ',t,' years your principal amount ',p_a,' over an interest rate of ',r_i,'% will be ',p_a)
j=j+1

Please enter principal amount: 1000
Please Enter Rate of interest in %: .1
Enter number of years for investment: 5

In [13]:
p_a=int(input('Please enter principal amount: '))
r_i=float(input('Please Enter Rate of interest in %: '))
t=int(input('Enter number of years for investment: '))
p_a= p_a*((1+r_i)**t)
print('After ',t,' years your principal amount ',p_a,' over an interest rate of ',r_i,'% will be ',p_a)

Please enter principal amount: 10000
Please Enter Rate of interest in %: .1
Enter number of years for investment: 5
After  5  years your principal amount  16105.100000000006  over an interest rate of  0.1 % will be  16105.100000000006

In [21]:
s=input('enter any number : ')
som=int(s[0])
for i in range(1,len(s)):
    som+=int(s[i])
print(som)

enter any number : 1234
10

# 15-06-19

# Dictionaries

In [3]:
my_dictionary = {}

In [4]:
len(my_dictionary)

0

In [5]:
my_dictionary={'name':"nasir"}
#               key  :  value

In [6]:
my_dictionary['name']

'nasir'

In [7]:
my_dictionary['age']=19

In [9]:
my_dictionary

{'name': 'nasir', 'age': 19}

In [10]:
del my_dictionary['age']

In [11]:
my_dictionary

{'name': 'nasir'}

In [12]:
my_dictionary[100]='hello'

In [13]:
my_dictionary

{'name': 'nasir', 100: 'hello'}

In [15]:
my_dictionary={'name': 'nasir', 100: 'hello','age':'19','degree':'grad'}

In [16]:
for k in my_dictionary.keys():
    print(k)

name
100
age
degree

In [17]:
for k in my_dictionary.values():
    print(k)

nasir
hello
19
grad

In [18]:
for k,v in my_dictionary.items():
    print(k,v)

name nasir
100 hello
age 19
degree grad

In [19]:
for k in my_dictionary.keys():
    print(my_dictionary[k])

nasir
hello
19
grad

In [23]:
100 in [1,2,3,100]

True

In [22]:
'name' in my_dictionary

True

In [24]:
a=[1,2,3,4]
b=[2,4,56]
c=[22,33,44,a,b]

c

[22, 33, 44, [1, 2, 3, 4], [2, 4, 56]]

In [26]:
c[4][2]

56

In [27]:
a=1,2,3,4,5,6
b=2 ,4 ,6 ,8
c=[1,2,a,b]

c

[1, 2, (1, 2, 3, 4, 5, 6), (2, 4, 6, 8)]

In [28]:
c[2][5]

6

In [29]:
my_dictionary

{'name': 'nasir', 100: 'hello', 'age': '19', 'degree': 'grad'}

In [30]:
alist=[1,2,3,my_dictionary]

In [31]:
alist[3]['degree']

'grad'

In [33]:
adict={'name':'pak','ages':my_dictionary}
adict

{'name': 'pak',
 'ages': {'name': 'nasir', 100: 'hello', 'age': '19', 'degree': 'grad'}}

In [34]:
adict['ages']['degree']

'grad'

In [35]:
my_dictionary

{'name': 'nasir', 100: 'hello', 'age': '19', 'degree': 'grad'}

In [36]:
my_dictionary['tuple']=c
my_dictionary

{'name': 'nasir',
 100: 'hello',
 'age': '19',
 'degree': 'grad',
 'tuple': [1, 2, (1, 2, 3, 4, 5, 6), (2, 4, 6, 8)]}

In [37]:
a=[]
a.append({'name':'adbc'})
a

[{'name': 'adbc'}]